In [1]:
# WELCOME TO LOGICAL OPERATORS SECTION

In [2]:
4 and 4

4

In [3]:
4 and 5

5

In [4]:
5 and 10

10

In [5]:
3 or 6

3

In [6]:
3 or 20

3

In [7]:
2<3 and 3>5

False

In [8]:
2<3 and 3<5

True

In [9]:
not True

False

## Statements in python

In [10]:
# syntax of if statement

# if some_condition :
    # do something
    
# else :
    # do something

In [11]:
var = 12 % 2

if(var==0):
    print("12 is even number")
else:
    print("12 is odd number")

12 is even number

In [13]:
marks = 87

if(marks>90):
    print("S Grade")
elif(marks>80):
    print("A Grade")
elif(marks>70):
    print("B Grade")
else:
    print("Fail")

A Grade

In [15]:
## For Loops

# use execute block of code 

# Syntax 
# for item_name in my_iterable:
#    print(item_name)

In [18]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for item in mylist:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [23]:
# Find the even number from the list
sum = 0;
for item in mylist:
    sum +=item
    if(item%2==0):
        print("Even number : {}".format(item))
    else :
        print("odd number : {}".format(item))
print("sum is {}".format(sum))

odd number : 1
Even number : 2
odd number : 3
Even number : 4
odd number : 5
Even number : 6
odd number : 7
Even number : 8
odd number : 9
Even number : 10
sum is 55

In [24]:
# for loop with strings

mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:
tup = (1,2,3,4,5)
for item in tup:
    print(item)

1
2
3
4
5

In [27]:
# tupple unpacking 

mylist = [(1,2),(3,4),(5,6),(7,8)]

# for item in mylist:
#     print(item)

for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [31]:
# While loop
# while some_condition_true:
    # do something
    
x=0
while(x<5):
    print ("{} is less than 5".format(x))
    x+=1
else:
    print ("x is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
x is not less than 5

In [34]:
# break , pass and continue keyword

# break    : Breaks the current closest enclosing loop
# continue : Goes to the top of the closest enclosing loop
# pass     : Does nothing at all.

x = [1,2,3]
for item in x:
    if(item==2):
        pass
    elif(item==1):
        print(item)
    else:
        break

1

In [2]:
# Range 
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [4]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [5]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [6]:
# enumrate example

word = "abcde"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [7]:
# Zip example

list1 = [1,2,3]
list2 = [4,5,6]

for item in zip(list1, list2):
    print(item)

(1, 4)
(2, 5)
(3, 6)

In [9]:
# in operator

# 'x' in [12,3,4]
2 in [12,3,2]

True

In [10]:
# min 
min(list1)

1

In [11]:
max(list1)

3

In [15]:
from random import shuffle

In [13]:
shuffle(list1)
list1

[2, 3, 1]

In [18]:
from random import randint

In [19]:
randint(0,100)

30

In [20]:
number  = input('enter a number')

enter a number23

In [22]:
type(number)

str

In [23]:
# type casting 
int(number)

23

In [25]:
# FInd the odd number and even number from 0 to 100

for num in range(0,101):
    if(num % 2 == 0):
        print("{} is a Even number ".format(num))
    else:
        print("{} is a odd number ".format(num))

0 is a Even number
1 is a odd number
2 is a Even number
3 is a odd number
4 is a Even number
5 is a odd number
6 is a Even number
7 is a odd number
8 is a Even number
9 is a odd number
10 is a Even number
11 is a odd number
12 is a Even number
13 is a odd number
14 is a Even number
15 is a odd number
16 is a Even number
17 is a odd number
18 is a Even number
19 is a odd number
20 is a Even number
21 is a odd number
22 is a Even number
23 is a odd number
24 is a Even number
25 is a odd number
26 is a Even number
27 is a odd number
28 is a Even number
29 is a odd number
30 is a Even number
31 is a odd number
32 is a Even number
33 is a odd number
34 is a Even number
35 is a odd number
36 is a Even number
37 is a odd number
38 is a Even number
39 is a odd number
40 is a Even number
41 is a odd number
42 is a Even number
43 is a odd number
44 is a Even number
45 is a odd number
46 is a Even number
47 is a odd number
48 is a Even number
49 is a odd number
50 is a Even number
51 is a odd number
52 is a Even number
53 is a odd number
54 is a Even number
55 is a odd number
56 is a Even number
57 is a odd number
58 is a Even number
59 is a odd number
60 is a Even number
61 is a odd number
62 is a Even number
63 is a odd number
64 is a Even number
65 is a odd number
66 is a Even number
67 is a odd number
68 is a Even number
69 is a odd number
70 is a Even number
71 is a odd number
72 is a Even number
73 is a odd number
74 is a Even number
75 is a odd number
76 is a Even number
77 is a odd number
78 is a Even number
79 is a odd number
80 is a Even number
81 is a odd number
82 is a Even number
83 is a odd number
84 is a Even number
85 is a odd number
86 is a Even number
87 is a odd number
88 is a Even number
89 is a odd number
90 is a Even number
91 is a odd number
92 is a Even number
93 is a odd number
94 is a Even number
95 is a odd number
96 is a Even number
97 is a odd number
98 is a Even number
99 is a odd number
100 is a Even number

In [37]:
# a write a program to find a prime numbers beetwen 1 to 20

prime_check_list = [2,3,5,7]
for num in range(3,1000):
    flag = True
    for num1 in prime_check_list:
        if(num % num1 == 0):
            flag = False
            break
    if(flag):
        prime_check_list.append(num)
#         print("{} is a prime number".format(num))
print("prime numbers are", prime_check_list)    
print("Total number of prime numbers in b/wn 0 to 100 is ", len(prime_check_list))

prime numbers are [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
Total number of prime numbers in b/wn 0 to 100 is  168

In [45]:
# Write a program to find fibonacci series using user input 

number = int(input("Enter a number to get fiboncacci series"))
fib_list = list(range(0,number))
fib_index = 2
fib_series = [0,1]
while(fib_index<len(fib_list)):
    fib_series.append(fib_series[fib_index-1]+fib_series[fib_index-2])
    fib_index+=1
print("Fibonacci series is : ", fib_series)

Enter a number to get fiboncacci series10
Fibonacci series is :  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [51]:
# Write a program to find factorial of a number 

number = int(input("Enter a number to get factorial of it "))
fact = 1
for num in range(1,number+1):
    fact *=num
print("Factorial of a numbe is {}".format(fact))

Enter a number to get factorial of it 10
Factorial of a numbe is 3628800

In [54]:
# List comprehention

mylist = []
# for letter in 'hello':
#     mylist.append(letter)

mylist = [letter for letter in 'hello']
mylist

['h', 'e', 'l', 'l', 'o']

In [56]:
# use alist comprehension to create a list of all numbers between 1 and 500 that are divisible by 3

list_numbers_divisible_by_3 = [num for num in range(1,500) if(num%3==0)]
list_numbers_divisible_by_3

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300,
 303,
 306,
 309,
 312,
 315,
 318,
 321,
 324,
 327,
 330,
 333,
 336,
 339,
 342,
 345,
 348,
 351,
 354,
 357,
 360,
 363,
 366,
 369,
 372,
 375,
 378,
 381,
 384,
 387,
 390,
 393,
 396,
 399,
 402,
 405,
 408,
 411,
 414,
 417,
 420,
 423,
 426,
 429,
 432,
 435,
 438,
 441,
 444,
 447,
 450,
 453,
 456,
 459,
 462,
 465,
 468,
 471,
 474,
 477,
 480,
 483,
 486,
 489,
 492,
 495,
 498]