In [1]:
1+1 # Shift + Enter

2

In [2]:
print("Hello Pramod, Welcome to Python")

Hello Pramod, Welcome to Python

In [3]:
# This is my second comment This is only i did best in my life

#Arithemetic operations

In [3]:
# Adition operation 
2+1

3

In [4]:
# Substarction operation
2-1

1

In [5]:
# multiplication operation
2*3

6

In [11]:
# Division operation
# Single  / always returns double value
print(3/2)

# // return integer value 
print(3//2)

1.5
1

Modulo operation

In [12]:
15 % 3

0

In [13]:
15 % 2

1

In [14]:
15 % 4

3

In [16]:
# wE CAN DEFINE POWER ALSO

2**4

16

## Varibale Assignment

In [17]:
# Rules :
# 1. Names should not be start with number
# 2. There cannot be spaces in b/wn names , use _ instaed
# 3. should not use following symbols (:"",<>,/,?,|,\,(),!,@,#,$,%,^,&,*,~,-,+)

# Best practise : camelCase 
# Global variable : CAPITAL

In [18]:
var = 5

In [19]:
var

5

In [22]:
var +=10

In [23]:
var

25

In [24]:
type(var)

int

In [25]:
var = 13.2
type(var)

float

In [26]:
int = 4

In [27]:
int

4

In [3]:
my_income = 100
tax_rate = 0.1

my_taxes = my_income * tax_rate

In [4]:
my_taxes

10.0

## Strings

In [6]:
# Strings are sequence of characters

# Character :         h  e  l  l  o
# index    :          0  1  2  3  4
# Reverse Index :     0 -4 -3 -2 -1


## SLICE ==> Allows you to grab subsection of string 
# Syntax :  [ start : stop : step ]
# start ==> numerical index for the slice start
# stop  ==> numrical index for the slice stop
# step  ==> start + slice = next_element

In [7]:
my_string = "I'm going to write the new string right now!!"

In [8]:
my_string

"I'm going to write the new string right now!!"

In [10]:
# \n is newLine indicator in python
# \t is tab separator in python
print("Welcome to Python\n Mr. Pramod");

Welcome to Python
 Mr. Pramod

In [11]:
# To find the length of the String
len(my_string)

45

In [12]:
my_string[0]

'I'

In [14]:
my_string[0:20:2]

'Imgigt rt '

In [15]:
my_string[-1]

'!'

In [16]:
my_string[5:]

'oing to write the new string right now!!'

In [17]:
my_string[:4]

"I'm "

In [18]:
# Reverse the String 
my_string[::-1]

"!!won thgir gnirts wen eht etirw ot gniog m'I"

## Immutability

In [19]:
# It will throw an error
name = "Sam"
name[0] = "P"

TypeError: 'str' object does not support item assignment

In [20]:
"P"+name[1:]

'Pam'

In [22]:
print("z" * 10)

zzzzzzzzzz

In [24]:
print("2" + "4")

24

In [25]:
my_string.upper()

"I'M GOING TO WRITE THE NEW STRING RIGHT NOW!!"

In [26]:
my_string

"I'm going to write the new string right now!!"

In [30]:
my_string.lower()

"i'm going to write the new string right now!!"

In [37]:
# I will split the string by default as white spaces
my_string.split()

["I'm", 'going', 'to', 'write', 'the', 'new', 'string', 'right', 'now!!']

In [38]:
# Formating the Strings
print("This is a String {}".format('Inserted'))

This is a String Inserted

In [40]:
print ("My {1} is {0}".format('pramod','name'))

My name is pramod

In [43]:
## Float Formatting follows "{value:width.precision f}"

resullt = 100/777
print("The result is {:1.3}".format(resullt))

The result is 0.129

In [44]:
print(f'Hello Mr. {name}')

Hello Mr. Sam

## LIST

In [45]:
my_list = [1,2,3]

In [46]:
my_list

[1, 2, 3]

In [48]:
# It can be mixed with other data types also

my_list = [0, 'STRING', 9.54]
my_list

[0, 'STRING', 9.54]

In [49]:
another_list = [4, "Hello"]
final_list = my_list + another_list
final_list

[0, 'STRING', 9.54, 4, 'Hello']

In [50]:
final_list[0] = 24

In [51]:
final_list

[24, 'STRING', 9.54, 4, 'Hello']

In [52]:
final_list[1].lower()

'string'

In [53]:
final_list.reverse()

In [54]:
final_list

['Hello', 4, 9.54, 'STRING', 24]

In [61]:
final_list.remove(9.54)
final_list

['Hello', 'STRING', 24]

In [62]:
final_list.pop()

24

In [63]:
final_list

['Hello', 'STRING']

In [64]:
final_list.sort()

In [65]:
final_list

['Hello', 'STRING']

In [66]:
final_list.reverse()

In [67]:
final_list

['STRING', 'Hello']

In [68]:
final_list.sort()

In [69]:
final_list

['Hello', 'STRING']

## Dictionaries

In [70]:
## It is like a map

# It uses key , value pairs
# It is un-ordered

In [71]:
my_dict = {'name': 'Pramod', 'age': 21, 'college' : 'MSRIT'}

In [72]:
my_dict

{'name': 'Pramod', 'age': 21, 'college': 'MSRIT'}

In [77]:
my_dict['age']

21

In [75]:
my_dict['name']

'Pramod'

In [79]:
nested_dir = { 'name' : 'pratik', 'age' : 21, 'addr' : {'pincode' : 3455, 'area' : 'Bangalore'}}

In [84]:
nested_dir['addr']['pincode']

3455

In [86]:
# Dictionarary keys
nested_dir.keys()

dict_keys(['name', 'age', 'addr'])

In [92]:
# Dictionarary values
nested_dir.values()

dict_values(['pratik', 21, {'pincode': 3455, 'area': 'Bangalore'}])

In [93]:
# Dictionarary entry set
nested_dir.items()

dict_items([('name', 'pratik'), ('age', 21), ('addr', {'pincode': 3455, 'area': 'Bangalore'})])

## Tuples

In [94]:
## very similar to list but are immmutable
# Provides Data Integrity
# List [] and tuples ()

In [95]:
my_tuple = (1,2,3, "pramod")

In [96]:
my_tuple

(1, 2, 3, 'pramod')

In [97]:
my_tuple[-1]

'pramod'

In [99]:
my_tuple.count(1)

1

## Sets

In [100]:
## Collection of elements with unique elements
# unordered

In [101]:
my_set = {1,2}

In [102]:
my_set

{1, 2}

In [103]:
my_set.add(3)

In [104]:
my_set

{1, 2, 3}

In [108]:
set('Mississippi')

{'M', 'i', 'p', 's'}

## Boolean

In [109]:
True

True

In [110]:
type(True)

bool

## File I/O

In [118]:
%%writefile myfile.txt
This my first text file
This is my second line

Overwriting myfile.txt

In [119]:
myfile = open('myfile.txt')

In [116]:
# readline helps to run line by line data
myfile.readlines()

['This my first text file\n', 'This is my second line \n']

In [120]:
# This method read the data one by one
myfile.read()

'This my first text file\nThis is my second line \n'

In [121]:
myfile.read()

''

In [122]:
myfile.seek(0)

0

In [123]:
myfile.read()

'This my first text file\nThis is my second line \n'

In [124]:
pwd

'C:\\Users\\prady\\My Python Stuff'

In [125]:
myfile.close()

In [127]:
with open("myfile.txt") as myfile:
    content = myfile.read()

In [128]:
content

'This my first text file\nThis is my second line \n'